#header-logo {
	margin: 2px auto 4px;
	display: block;
}
#logo {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
#location-form {
	overflow: hidden;
}
#get-location {
	float: left;
	margin: 11px 8px 0 0;
}
#location-form .ui-input-text {
	float: left;
	width: 142px;
}
#postcode-search {
	float: left;
	width: 50px;
	padding: 7px 0;
	margin-left: 8px;
}
#nav {
	list-style-type: none;
	padding: 0;
}
#nav li {
	padding: 20px 10px;
	border-bottom: 1px solid #eee;
}
#nav li a {
	text-decoration: none;
}
#map-canvas {
	height: 100%;
	position: absolute;
	width: 100%;
	margin: -58px -1em -1em;
}
#graphs {
	height: 100%;
	position: absolute;
	width: 100%;
	margin: -1em;
	background: transparent url('/img/trans.png');
}
svg {
	font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}

@media (max-width: 320px) {
	#header-logo {
		position: relative;
		left: 10px;
	}	
}